
.Gallery {
    width: 100%;
    height: calc(100vw*0.397024);
    display: flex;
    flex-direction: column;
    overflow: hidden; 
    position: relative;
}

.Slides {
    width: 100%;
    height: 100%;
    display: flex;
    transition: transform 1.2s ease;
    padding: 0 calc(100vw*0.12798);
}

.Slide {
    flex: 0 0 calc(100vw*0.744048); 
    height: 100%;
}

.Gallery_Images {
    height: 100%;
    width: 100%;
}

.Gallery_Images img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.PrevButt {
    position: absolute;
    z-index: 10;
    height: 100%;
    top: 0;
    left: 0;
    width: calc(100vw*0.1279762);
    opacity: 0;
}

.NextButt {
    position: absolute;
    z-index: 10;
    height: 100%;
    top: 0;
    right: 0;
    width: calc(100vw*0.1279762);
    opacity: 0;
}

.prevCon, .nextCon{
    display: flex;
    flex-wrap: nowrap;
    height: 80%;
    align-self: center;
    justify-self: center;
    opacity: 0.5;
}
.currentCon{
    display: flex;
    flex-wrap: nowrap;
}

.Gallery_Images{
    height: 100%;
    width: calc(100vw*0.744048);
    padding: 0 calc(100vw*0.0059523);
    flex-shrink: 0;
}