.Gallery {
    width: 100%;
    height: 667px;
    display: flex;
    flex-direction: column;
    overflow: hidden; 
    position: relative;
}

.Slides {
    width: 100%;
    height: 100%;
    display: flex;
    transition: transform 0.8s ease;
    padding: 0 215px;
}

.Slide {
    flex: 0 0 1250px; 
    height: 100%;
}

.Gallery_Images {
    height: 100%;
    width: 100%;
}

.Gallery_Images img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.PrevButt {
    position: absolute;
    z-index: 10;
    height: 100%;
    top: 0;
    left: 0;
    width: 215px;
    opacity: 0;
}

.NextButt {
    position: absolute;
    z-index: 10;
    height: 100%;
    top: 0;
    right: 0;
    width: 215px;
    opacity: 0;
}

ul{
    display: flex;
    flex-wrap: nowrap;
}

.Gallery_Images{
    height: 100%;
    width: 1250px;
    padding: 0 10px;
    flex-shrink: 0;
}

